.first-nav {
    grid-column: 6 / 10;
    grid-row: 1 / 2;
    justify-content: space-around;
    @include navigation;
    
}

.second-nav {
    grid-column: 3 / 8;
    grid-row: 3 / 4;
    @include navigation;
    
    
}

